/*
 * Main colors
 */
$primary: #ffffff;
$invertedPrimary: #000000;

$secondary: #11a5ed;
$invertedSecondary: #ffffff;

$tertiary: #e3eaf2;
$invertedTertiary: #0a0e31;

$textColor: $primary;
$backgroundColor: $invertedPrimary;


/*
 *   Messaging variables
 */

// Remote message
$remoteMessageBackgroundColor: $tertiary;
$remoteMessageColor: $invertedTertiary;

// Local message
$localMessageBackgroundColor: $secondary;
$localMessageColor: $invertedSecondary;