@use "sass:color";
@import "variables";

.c-button {
    display: inline-block;
    border-radius: $borderRadius;
    padding: $spaceMedium;
    margin: $spaceMedium;
    font-size: $fontSizeMedium;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    &.c-button__size-large {
        padding: $spaceLarge;
        margin: $spaceLarge;
        font-size: $fontSizeLarge;
    }
    &.c-button__size-small {
        padding: $spaceSmall;
        margin: $spaceSmall;
        font-size: $fontSizeSmall;
    }
    &.c-button__color-primary {
        background-color: $colorPrimary;
        color: $colorPrimaryInverted;
        &:focus {
            text-decoration: underline;
        }
        &:hover {
            background-color: color.mix($colorPrimary, $colorPrimaryInverted, $weight: 70%);
            color: $colorPrimaryInverted;
        }
        &.c-button__active {
            background-color: color.mix($colorPrimary, $colorPrimaryInverted, $weight: 70%);
            color: $colorPrimaryInverted;
            &:hover {
                background-color: $colorPrimary;
                color: $colorPrimaryInverted;
            }
        }
    }
}