.c-message-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: calc(100vw - 15px);
    border-radius: 5px 5px 0 0;
    border: 3px solid #555;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    .c-message-input {
        width: 100%;
        padding: 5px;
        margin-left: 5px;
        border: 0;
        font-size: 16px;
    }
}