@import "colors";

$topBarHeight: 40px;
$messageInputHeight: 90px;
.c-messages-container {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - #{$topBarHeight} - #{$messageInputHeight});
    padding: 10px;
}