.c-message {
    margin: 15px 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    .c-message__content {
        border-radius: 5px;
    }
    &.c-message--local {
        flex-direction: row-reverse;
        .c-message__content {
            float: right;
            padding: 6px;
            background-color: #2980b9;
            color: #ecf0f1;
            border-radius: 5px;
            box-shadow: 0 3px 0 0 #dddddd;
            text-align: right;
        }
        .c-message__time {
            display: none;
        }
    }
    &.c-message--remote {
        flex-direction: row;
        .c-message__content {
            float: left;
            padding: 6px;
            background-color: #bdc3c7;
            color: #34495e;
            border-radius: 5px;
            box-shadow: 0 3px 0 0 #dddddd;
            text-align: left;
        }
        .c-message__time {
            display: none;
        }
    }
    &.c-message--internal {
        font-style: italic;
        text-align: center;
        font-size: 10px;
        color: #555;
        .c-message__time {
            font-size: 9px;
        }
    }
}