@import "colors";

$messageInputHeight: 98px;
.c-messages-container {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - #{$messageInputHeight});
    padding: 10px 10px 0 10px;
    overflow-y: scroll;
}