@import "colors";

$messageContainerMargin: 20px;
$messageInputContainerMargin: 10px;

.c-message-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: calc(100vw - #{$messageContainerMargin} * 2);
    margin: $messageContainerMargin;
    box-sizing: border-box;
    background-color: $backgroundColor;
    .c-message-input {
        resize: none;
        height: 40px;
        width: 100%;
        padding: 8px;
        margin-left: 5px;
        border: 0;
        border-radius: 3px 0 0 3px;
        font-size: 16px;
    }
    .c-message-input-label {
        font-weight: bold;
    }
    .c-message-input-submit {
        height: 56px;
        border: 0;
        padding: 8px;
        border-radius: 0 3px 3px 0;
        font-size: 16px;
        font-weight: bold;
    }
}