@import "colors";

.c-message {
    margin: 5px 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    .c-message__content {
        padding: 8px;
        border-radius: 5px;
    }
    &.c-message--local {
        flex-direction: row-reverse;
        .c-message__content {
            float: right;
            background-color: $localMessageBackgroundColor;
            color: $localMessageColor;
            border-radius: 5px 5px 0 5px;
            text-align: right;
        }
        .c-message__time {
            display: none;
        }
    }
    &.c-message--remote {
        flex-direction: row;
        .c-message__content {
            float: left;
            background-color: $remoteMessageBackgroundColor;
            color: $remoteMessageColor;
            border-radius: 5px 5px 5px 0;
            text-align: left;
        }
        .c-message__time {
            display: none;
        }
    }
    &.c-message--internal {
        margin: 0;
        padding: 5px;
        font-style: italic;
        text-align: center;
        font-size: 10px;
        color: #8c9aa7;
        .c-message__time {
            font-size: 9px;
        }
    }
}