@import "variables";

.u-width__full { width: 100% }
.u-height__full { height: 100% }

.u-text__center { text-align: center }

.m-a { margin: auto }

.c-flex-container {
    display: flex;
    &.c-flex-container__v-center {
        align-items: center;
    }
    &.c-flex-container__h-center {
        justify-content: center;
    }
    &.c-flex-container__direction-row {
        flex-direction: row;
    }
    &.c-flex-container__direction-row-reverse {
        flex-direction: row-reverse;
    }
    &.c-flex-container__direction-column {
        flex-direction: column;
    }
    &.c-flex-container__direction-column-reverse {
        flex-direction: column-reverse;
    }
}

.c-logo {
    path {
        fill: $colorPrimary;
    }
    &.c-logo__size-small {
        width: 40px;
        height: 40px;
    }
    &.c-logo__size-medium {
        width: 100px;
        height: 100px;
    }
    &.c-logo__size-large {
        width: 200px;
        height: 200px;
    }
}

.c-special-title {
    font-family: sans-serif;
    margin: 100px 50px auto;
    text-align: center;
    font-size: 40px;
    width: 200px;
    position:relative;
    &:before {
        content: "";
        display: block;
        width: calc(50vw - 50%);
        height: 3px;
        background: $colorPrimary;
        position: absolute;
        left: 200px;
        top: 50%;
        z-index: -2;
    }
    &:after {
        content: "";
        display: block;
        width: calc(50vw - 50%);
        height: 3px;
        background: $colorPrimary;
        position: absolute;
        right: 200px;
        top: 50%;
        z-index: -2;
    }
}

.c-special-subtitle {
    margin-bottom: 75px;
}